* {
  box-sizing: border-box;
}
body {
  min-width: 960px;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  background: #000000 url("../img/body-bg.jpg") no-repeat top center;
}
.price-page {
  color: #000000;

  background: #f9f6f3 url("../img/white-pattern.png") repeat;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;
  
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn--disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn--disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}
.page-header {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #000000;
}
.main-nav {
  float: left;
  width: 800px;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  
  font-size: 0;

  list-style: none;
}
.user-block {
  float: right;
  width: 115px;
}
.main-nav__item {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top; 
}
.main-nav__link {
  display: block;
  padding: 25px 20px;

  color: #ffffff;

  text-decoration: none;
}
.main-nav__link:hover,
.main-nav__link:active {
  background: #242424;
}
.main-nav__link--active {
  position: relative;
}
.main-nav__link--active:hover {
  background: none;
  cursor: default;
}
.main-nav__link--active:after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;

  background: #ffffff;
}
.user-block {
  font-size: 0;
}
.user-block__login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}
.user-block__login:hover,
.user-block__login:active {
  background: #242424;
}
.logo {
  width: 386px;
  height: 204px;
  margin: 0 auto;
}
.features {
  margin-bottom: 60px;
}
.features__item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}
.features__item:last-child {
  margin-right: 0;
}
.features__item-title {
  position: relative;
  padding-bottom: 40px;

  font-size: 30px;
  line-height: 42px;
}
.features__item-title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -10px;

  width: 20px;
  height: 20px;

  background: #ffffff;

  transform: rotate(45deg);
}
.features__item-description {
  padding: 0 10px;
  padding-top: 25px;
 }
 .sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -52px;
}

.sprite-icon-locked {
    width: 15px;
    height: 17px;
    background-position: -10px -93px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -130px;
}

.sprite-icon-user {
    width: 15px;
    height: 15px;
    background-position: -10px -166px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -201px;
}
.user-block__login:before {
  content: "";
  position: absolute;
  top: 27px;
  left: 15px;
  width: 18px;
  height: 16px;

  background-image: url("../img/sprite.png");
  background-position: -10px -130px;
  opacity: 0.3;
}
.user-block__login:hover:before {
  opacity: 1;
}
.row {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000000;

  background: url("../img/row-shadow.png") no-repeat center,
  #f8f5f2 url("../img/white-pattern.png") repeat
  ;
}
.column__left {
  float: left;
  width: 390px;
}
.column__right {
  float: right;
  width: 300px;
}
.column__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}
.news {
  margin: 0;
  padding: 0;

  list-style: none;
}
.news__item {
  margin: 0;
  margin-bottom: 25px;
}
.news__description {
  margin-bottom: 0;
}
.news__date {
  text-transform: none;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery__content {
  height: 178px;
  margin: 0;

  background: #cccccc;
  border: 7px solid #ffffff;
}
.gallery__img {
  width: 286px;
  height: 164px;
}
.btn__gallery {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.btn__prev {
  left: 0;
}
.btn__next {
  right: 0;
}
.appointment-form__field {
  float: left;
  width: 140px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;

  font: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form__field:nth-child(2n) {
  margin-right: 0;
}
.appointment-form__field:focus {
  border: 2px solid #663d15;
}
.btn__appointment-form {
  clear: both;
  width: 100%;
}
.contact__time {
  margin-bottom: 28px;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  background: #232323 url("../img/black-pattern.png");
}
.main-footer a {
  color: #ffffff;
}
.main-footer__contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.main-footer__social {
  float: left;
  width: 180px;

  text-align: center;
}
.main-footer__social p {
  margin: 0;
  margin-bottom: 15px;
}
.main-footer__copyright { 
  float: right;
  max-width: 180px;
}
 .main-footer__copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
 }
.btn__social {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;
  transition: background-color 0.5s;
}
.btn__social-vk {
  background-position: -3px -188px;
}
.btn__social-fb {
  background-position: 5px 0;
}
.btn__social-inst {
  background-position: 2px -42px;;
}
.main-footer__copyright .btn {
  margin-right: 0;
}
.btn__social:hover {
  background-color: #663d15;
}
.main-nav__logo {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
  margin-right: 20px;
}
.main-nav__logo-img {
  width: 111px;
  height: 24px;
}
.price-page .page-header {
  margin-bottom: 55px;
}
 .price-page__title h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
 }
 .breadcrumbs {
  padding: 0;
  margin: 0;

  list-style: none;
 }
.breadcrumbs li {
  position: relative;

  display: inline;
  padding-right: 30px;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.breadcrumbs li:after {
  position: absolute;
  content: "";
  top: 4px;
  right: 18px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}
.breadcrumbs .current:after {
  display: none;
}
.inner-content {
  margin-bottom: 70px;
}
.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}
.inner-content p {
  margin: 14px 0;
}
.inner-content h2 + h3 {
  margin-top: 30px;
}
.inner-content__prices-table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 10px 15px;
  border: 2px solid #000000;
}
.inner-content__big-heading {
  margin-top: 55px;
  margin-bottom: 65px;

  text-align: center;
}
.inner-content__big-heading h2{
  position: relative;
  background: red;
  display: inline-block;
  margin: 0;
  padding: 0 25px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;
  z-index: 2;
  background: url("../img/white-pattern.png") repeat;

}
.inner-content__big-heading:after {
  content: "";
  position: relative;
  top: -25px;

  display: block;
  z-index: 1;
  border-bottom: 2px solid #000000;
}
.inner-content__custom-list1 {
  margin: 14px 0;
  padding: 0;
  
  list-style: none;
}
 .inner-content__custom-list1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
 }
 .inner-content__custom-list1 li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
 }
 .inner-content__prices-table {
  width: 100%;
 }
 .inner-content__prices-table td {
  width: 50%;
 }
 .inner-content__prices-table td:last-child {
  text-align: center;
 }
 .inner-content__columns {
  margin: 60px 0;
 }
.inner-content__column-left,
.inner-content__column-right {
  width: 480px;
}
.inner-content__column-left {
  float: left;
}
.inner-content__column-right {
  float: right;
}
.inner-content__column-left *:first-child,
.inner-content__column-right *:first-child {
  margin-top: 0;
}
.inner-content__column-left *:last-child,
.inner-content__column-right *:last-child {
  margin-top: 0;
}
.modal-content {
  display: none;
  position: absolute;
  width: 460px;
  top: 120px;
  left: 50%;
  padding: 60px 80px;

  color: #000000;

  background: #f8f5f2 url("../img/white-pattern.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

  transform: translateX(-50%);
}
.modal-content__close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content__close:before,
.modal-content__close:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content__close:before {
  transform: rotate(45deg);
}
.modal-content__close:after {
  transform: rotate(-45deg);
}
.modal-content__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content__login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.modal-content__field {
  width: 300px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.modal-content__login-form .restore {
  float: right;

  color: #000000;
}
.modal-content__login-form .btn {
  width: 100%;

  margin-top: 15px;
}
.modal-content__login {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.modal-content__login:hover {
  color: #663d15;
}
.modal-content__login input[type="checkbox"] {
  display: none;
}
 .modal-content__login input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
 }
 .modal-content__login input[type="checkbox"]:checked + .checkbox-indicator:before,
 .modal-content__login input[type="checkbox"]:checked + .checkbox-indicator:after
  {
  position: absolute;
  content: "";
  top: 5px;
  left: -1px;
  width: 15px;
  height: 2px;

  background-color: #000000;
 }
.modal-content__login input[type="checkbox"]:checked + .checkbox-indicator:before {
  transform: rotate(45deg);
}
.modal-content__login input[type="checkbox"]:checked + .checkbox-indicator:after {
  transform: rotate(-45deg);
}
.modal-content__map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  margin-top: -280px;
  margin-left: -390px;
  width: 766px;
  height: 561px;

  background: #aba9a7 url("../img/map.png");
  border: 7px solid #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
